body {
    background-color: rgb(219, 228, 228);
}

footer {
    background-color: rgb(145, 140, 146);
}

header {
    background-color: rgb(219, 218, 173);
}

h1 {
    color: rgb(42, 42, 101);
}

p {
    color: rgb(46, 15, 158);
}

h2 {
    color: rgb(233, 3, 210);
}

h3 {
    color: chocolate;
}

h4 {
    color: darkgreen;
}

h5 {
    color: fuchsia;
}

.p {
    font-family: "Times New Roman", Times, serif;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.h3 {
    font-family: "Times New Roman", Times, serif;
}

.h4 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.h5 {
    font-family: "Times New Roman", Times, serif;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1238c2;

    color: #FFF;
    text-align: center;
    font-size: 18px;
    padding: 18px;
    width: 200px;
    transition: all 0.9s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}