/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background-color: #af4c4c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
}

/* Flexbox для секцій */
#skills ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#skills ul li {
    list-style: none;
}


button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2b00c7;
}


.social-icons a {
    color: #29bb96;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #af2b9e;
}


@media (max-width: 768px) {
    #skills ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .social-icons {
        text-align: center;
    }
}
